.container {
  width: 1200px;
  margin: auto;
}

.header-bloc {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
}

.header {
  background-color: white;
}
.header img {
  width: 110px;
}

.button {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 510px;
  gap: 20px;

  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
}

.button button {
  outline: none;
  width: 115px;
  height: 30px;
  background-color: white;
  color: #007783;
  border-radius: 6px;
  border-color: #007783;
}

.button button:last-child {
  outline: none;
  width: 115px;
  height: 30px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  background-color: #007783;
}

.img-home img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.bloc-home {
  background-color: white;
  border-radius: 3%;
  height: 260px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 75px;
  padding: 25px;
}

.bloc-home span {
  font-size: 34px;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bloc-home button {
  color: white;
  background-color: #007783;
  border-radius: 6px;
  font-family: Arial;
  font-size: 16px;
  height: 45px;
  width: 185px;
  margin-top: 50px;
  border-color: white;
}

.display-offers img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}

.display-offers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 370px;
  flex-wrap: wrap;
  overflow: hidden;
}

.display {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.price {
  color: gray;
}

.title {
  color: black;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.search-container {
  width: 632px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-container > input {
  width: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 275px;
  height: 250px;
  gap: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: bisque;
  gap: 30px;
  padding-top: 30px;
}
