.container {
  width: 1200px;
  margin: auto;
}

body {
  background-color: #eaedee;
}

.header-bloc {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
}

.header {
  background-color: white;
}
.header img {
  width: 110px;
}

.button {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 510px;
  gap: 20px;

  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
}

.button button {
  outline: none;
  width: 115px;
  height: 30px;
  background-color: white;
  color: #007783;
  border-radius: 6px;
  border-color: #007783;
}

.button button:last-child {
  outline: none;
  width: 115px;
  height: 30px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  background-color: #007783;
}

.img-home img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.bloc-home {
  background-color: white;
  border-radius: 3%;
  height: 260px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 75px;
  padding: 25px;
}

.bloc-home span {
  font-size: 34px;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bloc-home button {
  color: white;
  background-color: #007783;
  border-radius: 6px;
  font-family: Arial;
  font-size: 16px;
  height: 45px;
  width: 185px;
  margin-top: 50px;
  border-color: white;
}

.display-offers img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}

.display-offers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 370px;
  flex-wrap: wrap;
  overflow: hidden;
}

.display {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.price {
  color: gray;
}

.title {
  color: black;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.search-container {
  width: 632px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-container > input {
  width: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 275px;
  margin-bottom: 30px;
  gap: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 280px;
}

h2 {
  font-size: 24px;
  padding-bottom: 50px;
}

form button {
  width: 280px;
  border: none;
  color: white;
  background-color: #007783;
  border-radius: 5px;
  font-size: 16px;
  width: 280px;
  height: 45px;
}

.checkbox {
  display: flex;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  display: flex;

  justify-content: space-between;
  padding: 24px;
}

.text-input-section {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}

.file-select {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}

.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: initial;
  color: grey;
}

h2 {
  font-size: 24px;
  padding-top: 40px;
}

.post input {
  border: none;
  border-bottom: 1px solid lightgray;
  height: 35px;
  margin-bottom: 20px;
  width: 780px;
}

.input-design-default,
.input-design-image {
  align-items: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
}

.dashed-preview-without {
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  display: flex;
  height: 200px;
  justify-content: center;
}

.label-file {
  color: #0ab1ba;
  cursor: pointer;
  font-weight: 700;
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

.form-validation {
  background-color: #0ab1ba;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
}
.form-button-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
