@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Kanit:wght@100&family=Montserrat:ital,wght@0,200;0,700;1,200&family=Roboto:wght@100;400;700&display=swap");

.container {
  width: 1280px;
  margin: auto;
}

body {
  background-color: #eaedee;
  font-family: "Inter", sans-serif;
}

.header-bloc {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  align-content: space-between;
  gap: 50px;
}

.header {
  background-color: white;
}
.header img {
  width: 110px;
}

.button {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;

  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
}

.button button {
  outline: none;
  width: 120px;
  height: 30px;
  background-color: white;
  color: #007783;
  border: 1px solid #007783;
  border-radius: 6px;
}

.butt-1 {
  display: flex;
  gap: 40px;
}
.img-home img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.bloc-home {
  background-color: white;
  border-radius: 3%;
  height: 260px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 75px;
  padding: 25px;
}

.bloc-home span {
  font-size: 34px;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bloc-home button {
  color: white;

  background-color: #007783;
  border-radius: 6px;
  font-family: Arial;
  font-size: 16px;
  height: 45px;
  width: 185px;
  margin-top: 50px;
  border: none;
}

.display-offers img {
  width: 230px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 5px;
}

.display-offers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 460px;
  flex-wrap: wrap;
}

.display {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.price {
  color: gray;
}

.title {
  color: black;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.search-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-container > input {
  width: 100%;
  border: none;
  padding: 10px;
  margin-top: 15px;
  background-color: #eaedee;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 275px;
  margin-bottom: 30px;
  gap: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1000px;
  padding-top: 20px;
  background-color: white;
}

.form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 300px;
}

h2 {
  font-size: 24px;
  padding-bottom: 50px;
}

form button {
  width: 280px;
  border: none;
  color: white;
  background-color: #007783;
  border-radius: 5px;
  font-size: 16px;
  width: 280px;
  height: 45px;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;

  width: 100%;
}

label .news {
  width: 300px;
  font-size: 13px;
  margin-top: 15px;
}

.condition {
  font-size: 13px;
  text-align: justify;
  width: 100%;
}

.checkbox > input {
  width: 30%;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  display: flex;
  border-bottom: 1px lightgray solid;
  justify-content: space-between;
  padding: 24px;
}

.text-input-section {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}

.file-select {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}

.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: initial;
  color: grey;
}

h2 {
  font-size: 24px;
  padding-top: 40px;
}

.post input {
  border: none;
  border-bottom: 1px solid lightgray;
  height: 35px;
  margin-bottom: 20px;
  width: 780px;
}

.input-design-default,
.input-design-image {
  align-items: center;
  border: 1px solid #007783;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
}

.dashed-preview-without {
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  display: flex;
  height: 200px;
  justify-content: center;
}

.label-file {
  color: #007783;
  cursor: pointer;
  font-weight: 700;
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

.form-validation {
  background-color: #007783;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
}
.form-button-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.offer {
  display: flex;
  height: 600px;
  justify-content: space-around;
  margin-top: 40px;
}

.bloc-product {
  height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 4px;
}
.description {
  border-bottom: 1px solid lightgray;
}

.img-offer img {
  height: 600px;
  border-radius: 4px;
  object-fit: cover;
  width: 400px;
}

.product-info {
  display: flex;
  padding: 10px 40px;
}

.key {
  color: gray;
  width: 50%;
}

.price-offer {
  padding: 30px 0 20px 40px;
  font-size: 30px;
}

.owner-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.owner-info-home img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.owner-info-home {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  color: black;
}

.owner-info {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-bottom: 15px;
}

h6 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 15px;
}
.prod-descr {
  font-size: 16px;
  color: #666666;
  padding-bottom: 15px;
}

.description-bloc {
  padding: 20px 40px;
}

.buy-button {
  background-color: #007783;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.offer-info-home {
  color: #999999;
  font-size: 12px;
  padding-top: 5px;
}

.price {
  color: black;
  font-size: 16px;
}

#slider {
  background: lightgray;
  width: 360px;
}

#slider .range-slider__range {
  background-color: #007783;
  transition: height 0.3s;
}

#slider .range-slider__thumb {
  background: #007783;
  transition: transform 0.3s;
}
.slider {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 5px;
  margin-left: 5px;
}

.sort {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 30%;
  padding-top: 3px;
}

.input-sort {
  margin-top: 20px;
  width: 630px;
  display: flex;
}

.input-sort span {
  font-size: 12px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}
.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #007783;
  border-radius: 20px;
}

.switch input:checked + span {
  background: #007783;
}

textarea:focus,
input:focus {
  outline: none;
}
.switch input + span:before {
  content: "⇡";
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 1px;
  width: 19px;
  height: 19px;
  background: white;

  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.switch input:checked + span:before {
  content: "⇣";
  left: 20px;
}

.form-checkout {
  padding: 15px;
  width: 400px;
  height: 600px;
  border: solid red 2px;
  background-color: white;
  margin-top: 40px;
}

.form-order {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
  border-bottom: 1px lightgray solid;
  padding-bottom: 30px;
}

h3 {
  font-size: 15px;
  color: lightgray;
  margin-bottom: 20px;
}
.total {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.total > span:last-child {
  text-align: end;
  width: 50%;
  font-size: 17px;
}

.total > span {
  width: 70%;
}

.lign-order {
  display: flex;
  flex-direction: row;
}

.lign-order > span {
  width: 70%;
}

.lign-order > span:last-child {
  text-align: end;
  width: 50%;
  font-size: 17px;
}

.bold {
  font-size: 17px;
  color: #007783;
}
